.tab{
margin-top: 2%;
margin-bottom: 2%;
margin-right: 15.5%;
background-color: #ffffff;
width: 70%;
border-radius: 20px;
word-wrap: break-word;
padding: 10px;
text-align: center;
}


  #mail{
    color: black;
    text-decoration: none;
} 

#message{
    opacity: 0.8;
    text-align:center;
    color: rgb(60, 71, 71);
}
#orderid{
    width: 80px;
}